<ul class="row gn-info-list">
  <li
    data-ng-repeat="md in searchResults.records"
    gn-metadata-open="md"
    gn-records="searchResults.records"
    gn-formatter="formatter.defaultUrl"
    id="gn-info-list-mw-{{md.getUuid()}}">
    <section class="resultcard clearfix"
             data-ng-class="md.getThumbnails().list[0].url ? 'hasThumbnail' : 'noThumbnail'">

      <div class="title">
        <a href=""
           gn-metadata-open="md"
           gn-records="searchResults.records"
           gn-formatter="formatter.defaultUrl">
          <h4>{{md.title || md.defaultTitle}}&nbsp;</h4>
        </a>
      </div>

      <div class="gn-md-thumbnail">
        <img class="gn-img-thumbnail"
             alt="{{md.title || md.defaultTitle}}"
             data-ng-src="{{md.getThumbnails().list[0].url}}"
             data-ng-if="md.getThumbnails().list[0].url"/>
        <img class="gn-img-thumbnail"
             alt="{{md.title || md.defaultTitle}}"
             data-ng-src="http://sma.ide.azores.gov.pt/assets/cdg.jpg"
             data-ng-if="!md.getThumbnails().list[0].url && md.type[0]==='dataset'"/>
        <img class="gn-img-thumbnail"
             alt="{{md.title || md.defaultTitle}}"
             data-ng-src="http://sma.ide.azores.gov.pt/assets/services.jpg"
             data-ng-if="!md.getThumbnails().list[0].url && (md.type[0]==='service' || md.type[0]==='service-view')"/>
        <img class="gn-img-thumbnail"
             alt="{{md.title || md.defaultTitle}}"
             data-ng-src="http://sma.ide.azores.gov.pt/assets/series.jpg"
             data-ng-if="!md.getThumbnails().list[0].url && md.type[0]==='series'"/>
      </div>

      <div class="content">
        <div class="abstract">
          {{md.abstract}}
        </div>

        <div class="introduction">
          <span class="badge" data-ng-repeat="t in md.type">{{t | translate}}
          </span>
        </div>
      </div>

    </section>
  </li>
</ul>
